name = "z-warn"
type = "webpack"
webpack_config = "webpack.config.js"
account_id = ""
workers_dev = true
route = ""
zone_id = ""
vars = { BOT_TOKEN = "", CORS_PATH = ""}
kv_namespaces = [
  { binding = "TOKEN", id = "", preview_id = "" },
  { binding = "MAIN_INFO", id = "", preview_id = "" }
]